@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Outfit", sans-serif;
}

body {
min-height: 100vh;
background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
display: flex;
justify-content: center;
align-items: center;
}

:root {
  --primary-color: #303D3B;
  --secondry-color: #81888E;
  --orange-color: #F56855;
  --light-gray: #C1A78C;
  --white-color: #F2F4F4;
}

.animate_logo {
  width: 10rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin-top: 5%;
  padding-left: 30%;
}

.animate_logo img {
  width: 100%;
  position: absolute;
  -webkit-animation: first 8s linear infinite;
          animation: first 8s linear infinite;
}

.animate_logo .secondstep {
  width: 85%;
  -webkit-animation: second 8s linear infinite;
          animation: second 8s linear infinite;
}

.animate_logo .thirdstep {
  width: 55%;
  -webkit-animation: third 15s ease-in-out infinite;
          animation: third 15s ease-in-out infinite;
}

@-webkit-keyframes first {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes first {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes third {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes third {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@-webkit-keyframes second {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes second {
  0% {
    transform: rotateY(0deg);
  }
  33% {
    transform: rotateY(180deg);
  }
  66% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

.logo {
  text-decoration: none;
  width: 6rem;
}

.logo img {
  width: 50%;
}

.container {
width: 95%;
max-width: 1000px;
}
.card {
background: rgb(131, 170, 131);
border-radius: 20px;
display: flex;
overflow: hidden;
box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

/* buttom */
button {
  width: 26rem;
  border: none;
  background-color: var(--secondry-color);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  position: relative;
}

button .circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.4s ease-in-out;
  position: relative;
}

button .circle img {
  position: absolute;
  left: 0.4rem;
  width: 1.8rem;
}

button a {
  text-decoration: none;
  color: var(--white-color);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  position: absolute;
  left: 3.2rem;
  transition: 0.4s ease-in-out;
}

.first_btn {
  width: 11.7rem;
  margin-right: 0.7rem;
}

button:hover .circle {
  width: 100%;
  height: 2.5rem;
  border-radius: 20px;
}

button:hover a {
  color: var(--orange-color);
}


/* LEFT PANEL */
.left {
width: 50%;
background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
color: white;
padding: 60px 40px;
position: relative;
}
.left::after {
content: "";
position: absolute;
width: 250px;
height: 250px;
background: rgba(255,255,255,0.1);
border-radius: 50%;
bottom:-80px;
right:-80px;
}
.left h1 {
font-size: 40px;
margin-top: 40%;
color: var(--primary-color);

}
.left h3 {
margin-bottom: 20px;
font-weight: 400;
}
.left p {
line-height: 1.6;
opacity: 0.9;
}


/* RIGHT PANEL */
.right {
width: 50%;
padding: 50px 40px;
}
.form {
display: none;
}
.form.active {
display: block;
}
.form h2 {
margin-bottom: 25px;
}
.input-group {
margin-bottom: 15px;
}
.input-group input {
width: 100%;
padding: 14px;
border-radius: 8px;
border: 1px solid #ddd;
outline: none;
}

.input-grouppassword input{
 width: 100%;
padding: 14px;
border-radius: 8px;
border: 1px solid #ddd;
outline: none;
}


.password {
position: relative;

}
.password span {
position: absolute;
right: 15px;
top: 50%;
transform: translateY(-50%);
font-size: 12px;
cursor: pointer;
color: #0077d9;

}
.options {
display: flex;
justify-content: space-between;
font-size: 14px;
margin-bottom: 20px;
padding: 10px;
}
.options a {
text-decoration: none;
color: #0077d9;
}
.btn {
width: 100%;
padding: 14px;
background: #0b74da;
color: white;
border: none;
border-radius: 10px;
cursor: pointer;
font-size: 16px;
}
.btn-outline {
width: 100%;
padding: 14px;
background: transparent;
border: 1px solid #ccc;
border-radius: 10px;
cursor: pointer;
}
.divider {
text-align: center;
margin: 20px 0;
color: #999;
}
.switch {
text-align: center;
margin-top: 15px;
}
.switch a {
color: #0077d9;
text-decoration: none;
font-weight: 500;
}
/* RESPONSIVE */
@media (max-width: 768px) {
.card {
flex-direction: column;
}
.left, .right {
width: 100%;
}
.left {
text-align: center;
}
}
